.testimonials {
    display: grid;
    row-gap: 2.3em;
    .box-testimonial {
        h2 {
            font-size: 1.8rem;
        }
        .people {
            display: flex;
            align-items: center;
            div {
                width: 3em;
                margin-right: 1.4em;
                img {
                    border: 1px solid $white;
                    border-radius: 50%;
                    width: 100%;
                }
            }
        
            h3 {
                font-size: 1.3rem;
                
                span {
                    opacity: 0.5;
                    font-size: 1.2rem;
                    display: block;
                }
            }
        
        }

        border-radius: 15px;
        padding: 1.5em;
    
        p {
            line-height: 1.3;
            font-size: 1.3rem;
            opacity: 0.7;
        }
    
        &__bg-1 {
            @include bg-card(bg-1);
            position: relative;
            z-index: 2;
            
            .bg-image {
                position: absolute;
                top: 0;
                left: 55%;
                z-index: -1;
                width: 11em;
            }

        }
        &__bg-2 {
            @include bg-card(bg-2);
        }
        &__bg-3 {
            @include bg-card(bg-3);
        }
        &__bg-4 {
            @include bg-card(bg-4);
        }
        &__bg-5 {
            @include bg-card(bg-5);
        }
    }
}
